.media
  .media-left
    =link_to image_tag(comment.user.avatar, size: "64x64"), user_path(comment.user)
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.name
    %span.anchorjs-icon
      %p
        = comment.text
