= render partial: 'layouts/sub_header'

.container.proto-list
  .row
    = render partial: 'layouts/prototype', collection: @prototypes

.text-center
  %ul.pagination
    %li.disabled
      = paginate(@prototypes)
