.container
  .form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2.form-signin-heading Please sign in
      %label.sr-only{for: "inputEmail"} Email address
      #inputEmail.form-control
        =f.email_field :email, placeholder: "email", autofocus: true
      %label.sr-only{for: "inputPassword"} Password
      .form-control
        =f.password_field :password, placeholder: "password", autocomplete: "off"
      .checkbox
        =f.check_box :remember_me
        =f.label :remember_me
      =f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
    .text-center
      %p
        Not a member?
        %a{href: "/users/sign_up"} Sign up now